<div *ngIf="loading">
  <svg class="spinner" viewBox="0 0 50 50">
    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
  </svg>
</div>

<div class="wrapper" *ngIf="!loading">
  <header class="header">
    <a href="javascript:void(0)" class="logo">
      <img src="assets/favico.png" alt="Logo">
    </a>
    <h1>Create Account</h1>
  </header>

  <form novalidate (ngSubmit)="addAccount()" [formGroup]="signupForm" class="form">
    <label for="email">
      Email
      <input class="field" type="email" id="email" formControlName="email" autofocus>
    </label>
    <span *ngIf="displayMessage.email" class="text-danger">
      <p [innerHTML]="displayMessage.email"></p>
    </span>
    <label for="password">
      Password
      <input class="field" type="password" id="password" formControlName="password">
    </label>
    <span *ngIf="displayMessage.password" class="text-danger">
      <p [innerHTML]="displayMessage.password"></p>
    </span>
    <label for="confirm-password">
      Confirm Password
      <input class="field" type="password" id="confirm-password" formControlName="confirmPassword">
    </label>
    <span *ngIf="displayMessage.confirmPassword" class="text-danger">
      <p [innerHTML]="displayMessage.confirmPassword"></p>
    </span>
    <button class="button" type="submit">Sign up</button>
  </form>

  <div class="login-account">
    <p>
      Already have an account? <a routerLink="/sign-in" class="text-right">Login</a>
    </p>
  </div>
</div>
