<div class="grid">
  <aside class="sidenav">
    <nav class="nav">
      <div class="name">
        <h2>Dashboard Bten</h2>
      </div>
      <ul>
        <li class="active">
          <a href="javascript:void(0)">
            <i class="fas fa-cog"></i><span>Overview</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="fas fa-ticket-alt"></i><span>Tickets</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="fas fa-lightbulb"></i><span>Ideas</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="fas fa-users"></i><span>Contacts</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="fas fa-user-tie"></i><span>Agents</span>
          </a>
        </li>
        <hr>
        <li>
          <a href="javascript:void(0)">
            <i class="fas fa-cog"></i><span>Settings</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="fas fa-rocket"></i><span>Subscriptions</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="main">
    <header class="header">
      <h2 class="title">Overview</h2>
      <div class="tray">
        <div class="tray-icons">
          <i class="fas fa-search"></i>
          <i class="fas fa-bell"></i>
        </div>
        <div class="profile">
          <p>Jones Ferdinand</p>
          <img class="avatar"
            src="assets/avatar_example.png" alt="avatar" />
        </div>
      </div>
    </header>
    <section class="data">
      <div class="boxes-data">
        <div class="box">
          <p>Unresolved</p><b>60</b>
        </div>
        <div class="box">
          <p>Overdue</p><b>16</b>
        </div>
        <div class="box">
          <p>Open</p><b>43</b>
        </div>
        <div class="box">
          <p>On hold</p><b>64</b>
        </div>
      </div>
      <div class="graph">
        <div class="graph-plot">
          <app-line-chart></app-line-chart>
        </div>
        <div class="boxes-data-graph">
          <div class="box">
            <p>Resolved</p><b>449</b>
          </div>
          <div class="box">
            <p>Received</p><b>426</b>
          </div>
          <div class="box">
            <p>Average first response time</p><b>33m</b>
          </div>
          <div class="box">
            <p>Average response time</p><b>3h 8m</b>
          </div>
          <div class="box">
            <p>Resolution within SLA</p><b>64</b>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
